# Build results
bin/
obj/
.vs/
Debug/
Release/

# User-specific files
*.user
*.suo

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Logs
*.log

# Rider / VSCode
.idea/
.vscode/

# Dotnet generated
artifacts/
